*.DS_Store
*.rbc
capybara-*.html
.rspec
.env
.env.test
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

config/database.yml

/.bundle
/public/assets/*
/vendor/bundle

.rvmrc

/vendor/assets/bower_components
*.bowerrc
bower.json