<footer class="footer">
  <div class="container">
    <!-- <div class="footer-links">
      <ul>
        <li><h3>Content</h3></li>
        <li><%= link_to 'About', about_path %></li>
        <li><a href="javascript:void(0)">Contact</a></li>
      </ul>
      <ul>
        <li><h3>Follow Us</h3></li>
        <li><a href="javascript:void(0)">Facebook</a></li>
        <li><a href="javascript:void(0)">Twitter</a></li>
      </ul>
      <ul>
        <li><h3>Legal</h3></li>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>
    </div> -->
    <!-- <hr /> -->
    <p>diplomat is &copy; 2015 Western Milling LLC</p>
  </div>
</footer>
